@font-face {
    font-family: 'Trebuchet MS';
    src: url('./../../assets/fonts/trebuc.ttf') format('ttf'), 
         url('./../../assets/fonts/Trebuchet-MS-Italic.ttf') format('ttf'); 
         
    font-weight: normal;
    font-style: normal;
}